version: '3.8'

services:
  db:
    image: ankane/pgvector:v0.5.0
    container_name: <%= projectPrefix %>-db-test
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=<%= projectPrefix %>
    ports:
      - "5433:5432"
    volumes:
      - db_data_test:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: <%= projectPrefix %>-redis-test
    ports:
      - "6380:6379"
    volumes:
      - redis_data_test:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  pubsub:
    image: gcr.io/google.com/cloudsdktool/cloud-sdk:emulators
    container_name: <%= projectPrefix %>-pubsub-test
    ports:
      - "8087:8085"
    command: gcloud beta emulators pubsub start --host-port=0.0.0.0:8085
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085"]
      interval: 5s
      timeout: 5s
      retries: 5

  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/nightly/aspire-dashboard:8.0.0-preview.4
    container_name: <%= projectPrefix %>-aspire-test
    environment:
      - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true
      - DASHBOARD__OTLP__AUTHMODE=ApiKey
      - DASHBOARD__OTLP__PRIMARYAPIKEY=testkey
    ports:
      - "18892:18888" # Dashboard UI
      - "4319:18889"  # OTLP gRPC mapped to 4319
      - "4320:18890"  # OTLP HTTP mapped to 4320

volumes:
  db_data_test:
  redis_data_test:
